WHOOP_CLIENT_ID=
WHOOP_CLIENT_SECRET=
WHOOP_REDIRECT_URI=http://127.0.0.1:3000/callback
WHOOP_SCOPES=read:profile read:body_measurement read:workout read:recovery read:sleep read:cycles offline
PORT=3000
